/* main style */

body{
	margin-bottom: 0px;
    padding-bottom: 0px;
}
.vh-100{
	height: 100vh;
}

.btn-primary {
    background-color: #2f5cbd;
    border-color: #2f5cbd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f24729;
    border-color: #f24729;
}

ul.reset-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-control {
    padding: 1.1rem .9rem;
}



span.file-icon {
    display: none !important;
}

.dropify-wrapper .dropify-message {
    color: #2f5cbd;
}


label {
    font-weight: 300;
    color: #2f3541;
}

p.error-validation {
    color: #de350b;
    margin-top: 5px;
}
a {
    color: #2f5cbd;
    text-decoration: underline;
}

.alert.account-not-verified {
    width: 100%;
    text-align: center;
    border-radius: 0;
    background: #ffab00;
    color: #252a33;
    font-size: 16px;
    position: absolute;
}

/* account pages start */
.account-pages{
	.left{
		background: url(../images/login-main-bg.png);
		background-size: cover;
		background-position: center;
		.page-content {
			max-width:350px;
			margin-top: 40px;
			width: 100%;

			.logo{
				width: 200px;
				margin-bottom: 20px;
			}

			h3{
				margin-bottom: 5px;
			}

			.otp{
				margin-top: 150px;
			}

		}
	}

	.right{
		background: url(../images/sign-up-bg.png);
		background-size: cover;
		background-position: center;

		.page-welcome{
			margin-top: 90px;
			min-height: 85vh;
			width: 90%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;
			align-content: stretch;
			p{
				font-size: 18px;
				max-width: 450px;
				margin: auto;
			}
		}
		ul li {
		    padding: 10px;
		    margin: 5px;
		    font-size: 28px;
		}
	}
	.terms{
		width: 100%;
		max-width: 800px;
		margin: 80px auto;
	}

	.page-content.account-not-verified-page{
		margin-top: 100px;
		text-align: center;

		.logo {
			width:160px;
		    margin: auto;
		    margin-bottom: 100px;
		}
	}
}